*/babel/*.json
.idea
*__pycache__*
*.egg-info
outputs/*
rendered_images/*
*tmp*
results/*
.DS_Store
**/.DS_Store
isaacgym/*
output/*
wandb/*

ACCAD.zip
ACCAD/
AMASS/
KIT.zip
Selected-20250519T213437Z-1-001.zip
create_dataset.sh
dagger.py
eval.sh
isaac-gym-preview-4
motion_fps_smpl.yaml
multi_motion.yaml
multi_motion_0.yaml
temp.py
train.sh